@import "./responsive.scss";

.layout {
  background-color: aqua;
  height: 100vh;
  max-width: 1166px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include lg {
    background-color: red;
  }
  @include md {
    background-color: yellow;
  }
  @include sm {
    background-color: tomato;
  }
}
